

html,body{ 
	width:100%;
	height:100%;
  background: #b61a1a;
}


body{
 font-family: Helvetica;
}

canvas{
  display:block;
  vertical-align:bottom;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #b61924;
  background-image: url('github.io');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#link {
  border: 3px #999 solid;
}
